<div class='wrapper-row'>
	<div class='side-wrapper'>
		<h1 class='page-header clear-margin-top'>Compensation Analysis</h1>
		<p>Compensation analysts ensure that an organization's employees are receiving compensation and benefits that are equitable and competitive.</p>
		<%= link_to 'Next', module_url(:id => @module_id + 1), data: { no_turbolink: true } %>
	</div>
	<div class='main-wrapper' style='padding:0px'>
		<div class='image-wrapper'>
			<%= image_tag 'stock_01.jpg', :class => "stock-image" %>
		</div>
	</div>
	<!-- <div class="main-wrapper">
	</div> -->
</div>