<div class='wrapper-row'>
	<div class='side-wrapper'>
		<h1 class='page-header clear-margin-top'>Course Overview</h1>
		<p>This course will give you the skills that all organizations seek in first-year compensation analysts. Once you've completed this course, you'll have a massive edge over other candidates applying for these positions. Good luck!</p>
		<%= link_to 'Previous', module_url(:id => @module_id - 1), data: { no_turbolink: true } %> | <%= link_to 'Next', module_url(:id => @module_id + 1), data: { no_turbolink: true } %>
	</div>
	<div class='main-wrapper' style='padding:0px'>
		<div class='image-wrapper'>
			<%= image_tag 'stock_02.jpg', :class => "stock-image" %>
		</div>
	</div>
</div>