<div class='wrapper-row'>
	<div class='side-wrapper'>
		<h1 class='page-header clear-margin-top'>Building a Dynamic Model</h1>
		<p>This course assumes you have a solid working knowledge of spreadsheet applications, such as Microsoft Excel. Manipulating data through spreadsheet applications will be one of your primary tasks as a compensation analyst.</p>
		<p>However, this won't be like your grandma's Excel sheets (or the ones you may have used in college). Take, for example, a dynamic model.</p>
		<p>A dynamic model constructed within Excel is a scalable document that allows a client or company to quickly and efficiently model data.</p>
		<p>Let's get started with some basic, real-world examples. It's time to get your hands dirty!</p>
		<%= link_to 'Previous', module_url(:id => @module_id - 1), data: { no_turbolink: true } %> | <%= link_to 'Next', module_url(:id => @module_id + 1), data: { no_turbolink: true } %>
	</div>
<div class='main-wrapper' style='padding:0px'>
	<div class='image-wrapper'>
		<%= image_tag 'stock_03.jpeg', :class => "stock-image" %>
	</div>
</div>
</div>