<div class='wrapper-row'>
	<div class='side-wrapper'>
		<div id='dynamic-content'>
		    <h1 class='page-header clear-margin-top'>Modeling Compensation ... Dynamically!</h1>
		    <p>You've been asked by Bigco to find out the annual cost of increasing every employee's salary by 3%.</p>
		    <p>Given to you is a spreadsheet with some basic employee data: names and salaries. Go ahead and click 'Open File' on the right to access the spreadsheet.</p>
		</div>
	    <%= link_to 'Previous', module_url(:id => @module_id - 1), data: { no_turbolink: true } %> | <%= link_to 'Next', module_url(:id => @module_id + 1), data: { no_turbolink: true } %>
	</div>

	<div class="main-wrapper" data-ng-controller="DemoCtrl" ng-init='swap(404)'>
    	<div class="btn-group">
		  <%= link_to "Open File", partial_path, :class => "btn btn-primary open-file", :remote => true %>
		</div>

        <div class='no-display' id="container">
            <div class="columnLayout">
                <div class="rowLayout">
                    <div class="descLayout">
                        <div class="pad" data-jsfiddle="example">
                        	<label>f(x)<input type="text" data-ng-model="db.items[rowIdx][colIdx]" style="width: 300px" datepicker></label>
                            <div id="example1">
                                <hot-table
                                    settings="{	colHeaders: true,
                                    			colWidths: [150, 150, 150, 150],
	                                        	manualColumnMove: false,
										        manualRowMove: false,
										        manualColumnResize: false,
										        manualRowResize: false,
										        formulas: true,
										        contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange
										    }"
                                    rowHeaders="true"
                                    minSpareRows="minSpareRows"
                                    datarows="db.items"
                                    height="300"
                                    width="700">
                                    <!-- <hot-column data="id"                  ></hot-column>
                                    <hot-column data="name.first"          title="'First Name'"  type="grayedOut"  readOnly></hot-column>
                                    <hot-column data="name.last"           title="'Last Name'"   type="grayedOut"  readOnly></hot-column>
                                    <hot-column data="address"             title="'Address'" width="150"></hot-column>
                                    <hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">
                                        <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
                                    </hot-column>
                                    <hot-column data="price"               title="'Price'"     type="'numeric'"  width="80"  format="'$ 0,0.00'" ></hot-column>
                                    <hot-column data="isActive"            title="'Is active'" type="'checkbox'" width="65"  checkedTemplate="'Yes'" uncheckedTemplate="'No'"></hot-column> -->
                                </hot-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="message-bar">
                <div id='error-bar' class='no-display'>
                    <span class='success-text'>Uh oh, something's not quite right with your spreadsheet!</span>
                </div>
            </div>
            <div id="bottom-bar">
                <button id='submit-work' class='btn btn-primary' ng-click='checkWork(404)'>Submit Work</button>
                <button class='btn btn-info' id='reset-sheet' ng-click='refresh()'>Reset Sheets</button>
                <div id='success-bar' class='no-display'>
                    <span class='success-text'>Great job!</span>
                    <%= link_to "Next Lesson", module_url(:id => @module_id + 1), :id=>'next-lesson', :class => "btn btn-success", data: { no_turbolink: true }%>
                </div>
            </div>
        </div>
    </div>
</div>