<div class='wrapper-row'>

	<div class='side-wrapper'>
		<div id='dynamic-content'>
		    <h1 class='page-header clear-margin-top'>Compensation Model Part 2</h1>
		    <p>Of course, there's a few problems with the way we displayed the new salaries.</p>
		    <p>Firstly, we've lost the column with our old salary information! Instead of overwriting our source data, let's create a new column.</p>
		    <p>Enter in your formulas in the "Projected Salary" column, referencing the correct "Base Salary" cell like so:</p>
		    <code>=D2*1.03</code>
		</div>
	    <%= link_to 'Previous', module_url(:id => @module_id - 1), data: { no_turbolink: true } %> | <%= link_to 'Next', module_url(:id => @module_id + 1), data: { no_turbolink: true } %>
	</div>

	<div class="main-wrapper" data-ng-controller="DemoCtrl" ng-init='swap(405)'>
    	<!-- <button class='btn btn-primary open-file'>Open File</button> -->
        <div id="container">
            <div class="columnLayout">
                <div class="rowLayout">
                    <div class="descLayout">
                        <div class="pad" data-jsfiddle="example">
                        	<label>f(x)<input type="text" data-ng-model="db.items[rowIdx][colIdx]" style="width: 300px" datepicker></label>
                            <div id="example1">
                                <hot-table
                                    settings="{	colHeaders: true,
                                    			colWidths: [50, 100, 100, 150,150],
	                                        	manualColumnMove: false,
                                                manualRowMove: false,
                                                manualColumnResize: false,
                                                manualRowResize: false,
										        formulas: true,
										        contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange
										    }"
                                    rowHeaders="true"
                                    minSpareRows="minSpareRows"
                                    datarows="db.items"
                                    height="300"
                                    width="700">
                                </hot-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="message-bar">
                <div id='error-bar' class='no-display'>
                    <span class='success-text'>Uh oh, something's not quite right with your spreadsheet!</span>
                </div>
            </div>
            <div id="bottom-bar">
                <button id='submit-work' class='btn btn-primary' ng-click='checkWork(405)'>Submit Work</button>
                <button class='btn btn-info' id='reset-sheet' ng-click='refresh()'>Reset Sheets</button>
                <div id='success-bar' class='no-display'>
                    <span class='success-text'>Great job!</span>
                    <%= link_to "Next Lesson", module_url(:id => @module_id + 1), :id=>'next-lesson', :class => "btn btn-success", data: { no_turbolink: true }%>
                </div>
            </div>
        </div>
    </div>
</div>