<div class='wrapper-row'>

    <div class='side-wrapper'>
        <div id='dynamic-content'>
            <h1 class='page-header clear-margin-top'>Compensation Model Part 6</h1>
            <p>Now when Jimmy asks us to find the total costs at x%, we can simply adjust the master input and the entire sheet will update ... dynamically!</p>
            <p>Unfortunately, the problems you'll face in a real-world setting won't be quite as simple. Your models will need to be shared with business partners across teams and they'll expect a spreadsheet formatted more like this: (click the 'Open File' button).</p>
        </div>
        <%= link_to 'Previous', module_url(:id => @module_id - 1), data: { no_turbolink: true } %> | <%= link_to 'Next', module_url(:id => @module_id + 1), data: { no_turbolink: true } %>
    </div>

    <div class="main-wrapper" data-ng-controller="DemoCtrl" ng-init='swap(409)'>
        <!-- <button class='btn btn-primary open-file'>Open File</button> -->
        <div class="btn-group">
            <%= link_to "Open File", partial_url(:id => @module_id), :class => "btn btn-primary open-file", :remote => true %>
        </div>

        <div class='no-display' id="container">
            <div class="columnLayout">
                <div class="rowLayout">
                    <div class="descLayout">
                        <div id='sheet-01' class="pad sheet-hidden" data-jsfiddle="example">
                            <label>f(x)<input type="text" data-ng-model="db.items[rowIdx][colIdx]" style="width: 300px" datepicker></label>
                            <div id="example1">
                                <hot-table
                                    settings="{ colHeaders: true,
                                                colWidths: [50, 100, 100, 100,100,100,100],
                                                manualColumnMove: false,
                                                manualRowMove: false,
                                                manualColumnResize: false,
                                                manualRowResize: false,
                                                formulas: true,
                                                contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange
                                            }"
                                    rowHeaders="true"
                                    minSpareRows="minSpareRows"
                                    datarows="db.outputs"
                                    height="500"
                                    width="800">
                                </hot-table>
                            </div>
                        </div>
                        <div id='sheet-02' class="pad sheet-hidden" data-jsfiddle="example">
                            <label>f(x)<input type="text" data-ng-model="db.items[rowIdx][colIdx]" style="width: 300px" datepicker></label>
                            <div id="example1">
                                <hot-table
                                    settings="{ colHeaders: true,
                                                colWidths: [150, 100, 100, 100,100,100,100],
                                                manualColumnMove: false,
                                                manualRowMove: false,
                                                manualColumnResize: false,
                                                manualRowResize: false,
                                                formulas: true,
                                                contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange
                                            }"
                                    rowHeaders="true"
                                    minSpareRows="minSpareRows"
                                    datarows="db.inputs"
                                    height="500"
                                    width="800">
                                </hot-table>
                            </div>
                        </div>
                        <div id='sheet-03' class="pad sheet-hidden" data-jsfiddle="example">
                            <label>f(x)<input type="text" data-ng-model="db.items[rowIdx][colIdx]" style="width: 300px" datepicker></label>
                            <div id="example1">
                                <hot-table
                                    settings="{ colHeaders: true,
                                                colWidths: [50, 100, 100, 100,100,100,100],
                                                manualColumnMove: false,
                                                manualRowMove: false,
                                                manualColumnResize: false,
                                                manualRowResize: false,
                                                formulas: true,
                                                contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange
                                            }"
                                    rowHeaders="true"
                                    minSpareRows="minSpareRows"
                                    datarows="db.items"
                                    height="500"
                                    width="800">
                                </hot-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class='btn btn-default toggle-sheet' data-sheet='sheet-01'>Output</button>
                <button class='btn btn-default toggle-sheet' data-sheet='sheet-02'>Input</button>
                <button class='btn btn-default toggle-sheet' data-sheet='sheet-03'>Source</button>
            </div>
            <div id="message-bar">
                <div id='error-bar' class='no-display'>
                    <span class='success-text'>Uh oh, something's not quite right with your spreadsheet!</span>
                </div>
            </div>
            <div id="bottom-bar">
                <button id='submit-work' class='btn btn-primary' ng-click='checkWork(409)'>Submit Work</button>
                <button class='btn btn-info' id='reset-sheet' ng-click='refresh()'>Reset Sheets</button>
                <div id='success-bar' class='no-display'>
                    <span class='success-text'>Great job!</span>
                    <%= link_to "Next Lesson", module_url(:id => @module_id + 1), :id=>'next-lesson', :class => "btn btn-success", data: { no_turbolink: true }%>
                </div>
            </div>
        </div>
    </div>
</div>