<h1 class='page-header clear-margin-top'>Modeling Compensation ... Dynamically!</h1>
<p>How can we find out the total cost of increasing all employee salaries by 3%? Well, one simple way is to just make a calculation for each cell.</p>
<p>In the "Base Salary" column, let's change each cell so that it matches the format "=SALARY * 1.03".</p>
<p>e.g., John's salary cell should read <code>=80000 * 1.03</code>. Make sure to copy this format exactly.</p>