<h1 class='page-header clear-margin-top'>Tons of Data</h1>
<p>Notice the new sheets in this document? Instead of placing inputs in each tabbed sheet, the best practice is for there to be one master tab, generally called 'input' or 'variable'.</p>
<p>By placing all inputs in one sheet, another analyst may take our dynamic model and generate outputs efficiently. For quality checking, it also means we only need to check one tab instead of every tab we have.</p>
<p>Your final task in this module will be to use this dynamic model to find out the total costs for increasing salaries across the company by 3%. Find the appropriate cell in the appropriate tab to complete this task.</p>