<div class='landing-top-wrapper'>
	<div class='landing-top-image-wrapper'>
		<%= image_tag 'main_01.jpg', :class => "landing-top-image" %>
	</div>
	<div class='landing-text'>
		<h1>cruz</h1>
		<p>take control of your career</p>
		<div style='margin-top:50px'>
			<a href='/modules/1'>Get Started</a>
		</div>
	</div>
</div>
<div class='container' style='margin-top:350px;text-align:center'>
	<div class='row'>
		<div class='col-sm-8 col-sm-offset-2'>
			<h1>Lorem ipsum dolor sit amet, sed ad nostrum patrioque, verear hendrerit eam ei, quem dissentiunt ne eos.</h1>
		</div>
	</div>
	<div class='row' style='margin-top:50px'>
		<a href='/select'>
			<div class='col-sm-4'>
				<div class='career-track'>
					<%= image_tag 'stock_01.jpg', :class => "stock-thumb" %>
					<h2>HR Specialist</h2>
					<p>HR training specialists earned a median salary of $56,850 in 2013, according to the BLS. The highest-paid 10 percent earned $95,600, while the lowest-paid 10 percent earned $32,190.</p>
				</div>
			</div>
		</a>
		<a href='/select'>
			<div class='col-sm-4'>
				<div class='career-track'>
					<%= image_tag 'stock_02.jpg', :class => "stock-thumb" %>
					<h2>PR Generalist</h2>
					<p>The BLS reports the median annual wage for public relations specialists was $54,940 in 2013. The best-paid 10 percent in the field made approximately $103,240, while the bottom 10 percent made approximately $30,790.</p>
				</div>
			</div>
		</a>
		<a href='/modules/1'>
			<div class='col-sm-4'>
				<div class='career-track'>
					<%= image_tag 'stock_03.jpeg', :class => "stock-thumb" %>
					<h2>Compensation Analyst</h2>
					<p>The average Compensation Analyst salary is $62,661 . Filter by location to see Compensation Analyst salaries in your area. salary estimates are based on 358 salaries submitted anonymously to Glassdoor by Compensation Analyst employees.</p>
				</div>
			</div>
		</a>
	</div>
</div>