<div class="main-wrapper" data-ng-controller="DemoCtrl" ng-init='swap(408)'>
            <!-- <button class='btn btn-primary open-file'>Open File</button> -->
            <div class="btn-group">
                <%= link_to "Open File", partial_url(:id => @module_id), :class => "btn btn-primary open-file", :remote => true %>
            </div>

            <div class='no-display' id="container">
                <div class="columnLayout">
                    <div class="rowLayout">
                        <div class="descLayout">
                            <div class="pad" data-jsfiddle="example">
                                <label>f(x)<input type="text" data-ng-model="db.items[rowIdx][colIdx]" style="width: 300px" datepicker></label>
                                <div id="example1">
                                    <hot-table
                                        settings="{ colHeaders: true,
                                                    colWidths: [50, 100, 100, 100,100,100,100,100],
                                                    manualColumnMove: true,
                                                    manualRowMove: true,
                                                    manualColumnResize: true,
                                                    manualRowResize: true,
                                                    formulas: true,
                                                    contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange
                                                }"
                                        rowHeaders="true"
                                        minSpareRows="minSpareRows"
                                        datarows="db.items"
                                        height="600"
                                        width="900">
                                    </hot-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id='submit-work' class='btn btn-primary' ng-click='checkWork(408)'>Submit Work</button>
                <button class='btn btn-info' id='reset-sheet'>Reset Sheets</button>
                <div class="btn-group">
                  <%= link_to "Next Lesson", module_url(:id => @module_id + 1), :id=>'next-lesson', :class => "btn btn-primary no-display"%>
                </div>
            </div>
        </div>