<div class='container'>
	<div class='row'>
		<div class='col-xs-6' id='dynamic-content'>
		</div>
		<!-- load the partial content that will refresh via ajax -->
		<script>
			var url = "<%= j render(:partial => 'partial_metas') %>"
			$('#dynamic-content').html(url);
		</script>

		<div class='col-xs-6'>
			<div id='confirm'>
			</div>
		</div>

	</div>
</div>
<script>
$(document).ready(function(){

});

$(document).on('click','.new-meta-submit',function(){
	var formData = $(this).siblings(".new-meta-name").val();
	var keywordID = $(this).attr('data-topic-id');
	console.log(formData);
	var html = '<h3>Add "' + formData + '" to database?</h3><button class="new-meta-confirm" data-topic-id=' + keywordID + ' value="' + formData + '">Yes</button>';
	$('#confirm').html(html);
	$(this).siblings(".new-meta-name").val('');
	return false;
});

$(document).on('click','.new-meta-confirm',function(){

	var formData = $('.form-horizontal').serializeObject();

    $.ajax({
	  type: "POST",
	  url: '/update_metas/',
	  data: formData
	});

	formData = $(this).attr('value');
	var topicID = $(this).attr('data-topic-id');

	console.log(formData,topicID);

	$('#confirm').html('<%= image_tag "ajax-loader.gif" %>');

	$.ajax({
	    url : '/metas/new', //Target URL for JSON file
	    method: 'POST',
	    data: {'description':formData, 'topic_id':topicID},
	    success : function(data){
	        $('#confirm').html('Success!');
	    },
	    error : function(xhr, status){
	        console.log(status);
	    }
	});

	return false;
});
</script>