<div class='container'>
	<div class='row'>

		<h1>Select Meta Description Per Topic</h1>

		<%= form_tag("/headings/", method: "post", class: "") do %>

			<% @topics.each do |key,val| %>

			<div>
				<h1><%= Topic.find(key).name %></h1>

				<div class="form-group">
					<%= select_tag(key, options_for_select(Topic.find(key).metas.collect {|p| [p.description, p.id]}, class: "col-sm-2 control-label")) %>
				</div>
			</div>
			<% end %>

			<%= submit_tag("Save and Continue", class:"btn btn-primary") %>

		<% end %>

	</div>
</div>