<div class='container'>
	<div class='row'>
		<div class ='col-md-6' id='dynamic-content'>
		</div>
		<!-- load the partial content that will refresh via ajax -->
		<script>
			var url = "<%= j render(:partial => 'partial_topics') %>"
			$('#dynamic-content').html(url);
		</script>

		<div class ='col-md-6'>
			<div id='confirm'>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){

	$('#new-topic-submit').click(function(){

		var formData = $("#new-topic-name").val();
		console.log(formData);
		var html = '<h3>Add "' + formData + '" to database?</h3><button id="new-topic-confirm" value="' + formData + '">Yes</button>';
		$('#confirm').html(html);
		return false;
	});

});

$(document).on('click','#new-topic-confirm',function(){

	var topicData = $('#new-topic-confirm').attr('value');

	console.log(topicData);

	// $('#confirm').html('<img src="/images/ajax-loader.gif" alt="ajax spinner"/>');

	$('#confirm').html('<%= image_tag "ajax-loader.gif" %>');

	$.ajax({
	    url : '/topics/new', //Target URL for JSON file
	    // contentType: 'application/json',
	    method: 'POST',
	    data: {'name':topicData, 'industry_id':'<%= @industry[:id] %>'},
	    success : function(data){
	        $('#confirm').html('success');
	    },
	    error : function(xhr, status){
	        console.log(status);
	    }
	});

	return false;
});
</script>